<div class="recipe recipe-list-item">
    <div class="recipe-cover">
        <img src="https://via.placeholder.com/1280x720.png/red" alt="Temporario">
    </div>
    <div class="recipe-title-container">
        <h2 class="reciple-title">Lorem ipsum dolor sit amet.</h2>

        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                Pedro Lisboa
            </span>

            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                12/06/2021 às 11:21
            </span>

            <span class="recipe-author-item">
                <a href="/">
                    <i class="fas fa-layer-group"></i>
                    <span>Café da manhã</span>
                </a>
            </span>
        </div>

        <div class="recipe-content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam, deleniti a at
                exercitationem ab dolorem odit quidem aliquam ut autem pariatur iure in fuga delectus quis
                vero, ipsum accusamus animi?</p>
        </div>

        <div class="recipe-meta-container">
            <div class="recipe-meta recipe-preparation">
                <h3 class="recipe-meta-title">
                    <i class="fas fa-stopwatch"></i>Preparos
                </h3>
                0 minutos
            </div>

            <div class="recipe-meta recipe-serving">
                <h3 class="recipe-meta-title">
                    <i class="fas fa-pizza-slice"></i>Porção
                </h3>
                0 Porções
            </div>
        </div>

        <footer class="recipe-footer">
            <a href="recipe-read-more button button-dark button-full-width">
                <i class="fas fa-eye"></i>
                <span>ver mais...</span>
            </a>
        </footer>
    </div> 
</div>